[Unit]
Description=Subsystem
After=graphical-session.target

[Container]
ContainerName=subsystem
HostName=subsystem
Image=subsystem:latest
EnvironmentHost=true
User=0
Group=0
Entrypoint=/usr/lib/systemd/systemd
LogDriver=journald
Volume=%h:%h:rslave
Tmpfs=/run
Tmpfs=/tmp
UserNS=keep-id
Network=host

[Install]
WantedBy=graphical-session.target