[Unit]
Description=Subsystem
After=graphical-session.target

[Container]
ContainerName=subsystem
HostName=subsystem
Image=subsystem:latest
EnvironmentHost=true
User=0
Group=0
Exec=sleep infinity
WorkingDir=%h
LogDriver=journald
Volume=%h:%h:rslave
Volume=/run/user/%U:/run/user/%U:ro,rslave
UserNS=keep-id
Network=host

[Install]
WantedBy=graphical-session.target