spawn-sh-at-startup "regreet >/dev/null 2>&1; niri msg action quit --skip-confirmation"
prefer-no-csd

layout {
    background-color "#000000"
}

gestures {
    hot-corners {
        off
    }
}

animations {
    off
}

hotkey-overlay {
    skip-at-startup
}

cursor {
    xcursor-theme "Bibata-Original-Ice"
    xcursor-size 28
}

window-rule {
    match app-id="regreet"
    open-fullscreen true
}