[Unit]
Description=Subsystem manager
After=local-fs.target
Requires=local-fs.target

[Service]
Type=simple
ExecStart=/usr/libexec/subsystem-mgr poweron
ExecStop=/usr/libexec/subsystem-mgr poweroff
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target default.target
