[Unit]
Description=Subsystem manager

[Service]
Type=simple
ExecStart=/usr/libexec/subsystem-mgr poweron
ExecStop=/usr/libexec/subsystem-mgr poweroff
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=default.target
