[Unit]
Description=Subsystem for %u
After=graphical-session.target
RequiresMountsFor=%t/containers
RequiresMountsFor=/run/user/%U

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
KillMode=mixed
ExecStop=/usr/lib/subsystem/bin/subsystem stop
ExecStopPost=-/usr/lib/subsystem/bin/subsystem stop
Delegate=yes
Type=notify
NotifyAccess=all
SyslogIdentifier=%N
ExecStart=/usr/lib/subsystem/bin/subsystem start

[Install]
WantedBy=graphical-session.target