[Unit]
Description=Subsystem for %u
After=graphical-session.target
RequiresMountsFor=%t/containers
RequiresMountsFor=/run/user/%U

[Service]
Type=notify
NotifyAccess=main
ExecStart=/usr/lib/subsystem/daemon

[Install]
WantedBy=graphical-session.target
