[Unit]
Description=Subsystem for %u
After=graphical-session.target
RequiresMountsFor=%t/containers
RequiresMountsFor=/run/user/%U

[Service]
Type=oneshot
Environment=PODMAN_SYSTEMD_UNIT=%n
ExecStart=/usr/lib/subsystem/bin/subsystem configure
ExecStart=/usr/lib/subsystem/bin/subsystem start
ExecStop=/usr/lib/subsystem/bin/subsystem stop
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=graphical-session.target