[Unit]
Description=Subsystem

[Container]
ContainerName=subsystem
HostName=subsystem
Image=subsystem:latest
EnvironmentHost=true
User=0
Group=0
Entrypoint=/usr/lib/systemd/systemd
Exec=--unit=multi-user.target
LogDriver=journald
Volume=$HOME:$HOME:rslave
Tmpfs=/run
Tmpfs=/tmp
WorkingDir=$HOME
UserNS=keep-id
Network=host
