spawn-sh-at-startup "nwg-hello >/dev/null 2>&1; niri msg action quit --skip-confirmation"
hotkey-overlay {
    skip-at-startup
}
cursor {
    xcursor-theme "Bibata-Original-Ice"
    xcursor-size 28
}
