[Unit]
Description=Subsystem container
RequiresMountsFor=/usr/lib/subsystem/rootfs /subsys/home /subsys
After=local-fs.target

[Container]
ContainerName=subsystem
HostName=subsystem
EnvironmentHost=true
LogDriver=journald
Rootfs=/subsys
Network=host
RunInit=yes

[Service]
Restart=on-failure
TimeoutStartSec=900
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target default.target