[Unit]
Description=Subsystem container
RequiresMountsFor=/usr/lib/subsystem/rootfs /subsys/home /subsys
After=local-fs.target

[Container]
ContainerName=subsystem
HostName=subsystem
EnvironmentHost=true
Entrypoint=/usr/lib/systemd/systemd
Exec=--unit=multi-user.target
LogDriver=journald
Rootfs=/subsys
Mount=type=tmpfs,dest=/tmp,tmpcopyup=false
Network=host

[Install]
WantedBy=multi-user.target default.target