[Unit]
Description=Subsystem container

[Container]
ContainerName=subsystem
HostName=subsystem
EnvironmentHost=true
RunInit=yes
Entrypoint=/usr/bin/sleep
Exec=infinity
LogDriver=journald
Rootfs=/var/lib/subsystem/USER/rootfs
Mount=type=bind,source=/var/home/USER,destination=/home/USER
WorkingDir=/home/USER
UserNS=keep-id:uid=UID,gid=GID
Network=host