[Unit]
Description=Subsystem container

[Container]
ContainerName=subsystem
HostName=subsystem
EnvironmentHost=true
Entrypoint=/sbin/openrc
Exec=default
User=0
Group=0
LogDriver=journald
Rootfs=/var/lib/subsystem/PLACEHOLDERUSER/rootfs
Mount=type=bind,source=/var/home/PLACEHOLDERUSER,destination=/home/PLACEHOLDERUSER
Tmpfs=/run
Tmpfs=/tmp
WorkingDir=/home/PLACEHOLDERUSER
UserNS=keep-id
Network=host