[Unit]
Description=Let Valent/KDEConnect bypass firewalld
After=network-online.target firewalld.service
Wants=network-online.target
ConditionPathExists=!/var/lib/tartaria/kdeconnect-firewalld-bypass-done

[Service]
Type=oneshot
ExecStart=/usr/bin/firewall-cmd --permanent --zone=public --add-service=kdeconnect
ExecStart=/usr/bin/firewall-cmd --reload
ExecStart=touch /var/lib/tartaria/kdeconnect-firewalld-bypass-done
RemainAfterExit=false

[Install]
WantedBy=multi-user.target
