[Unit]
Description=Enroll signing certs using MOK
ConditionPathExists=!/etc/tartaria/mok-enrolled
Before=systemd-modules-load.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/sys-mok-enroll

[Install]
WantedBy=multi-user.target
