[Unit]
Description=Update global chezmoi repository
After=var.mount
Requires=var.mount network-online.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/update-cherries
RemainAfterExit=false
