[Unit]
Description=Bind mount for cherries
ConditionPathExists=/etc/.cherries-are-picked
DefaultDependencies=no
After=local-fs.target
Before=multi-user.target

[Mount]
What=/var/lib/cherries
Where=/usr/share/tartaria/cherries
Type=none
Options=bind

[Install]
WantedBy=multi-user.target