[Unit]
Description=Let Valent/KDEConnect Bypass firewalld
RequiresMountsFor=/var
After=network-online.target firewalld.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/firewall-cmd --permanent --zone=public --add-service=kdeconnect
ExecStart=/usr/bin/firewall-cmd --reload
ExecStart=/usr/bin/systemctl disable %n
ExecStart=/usr/bin/systemctl mask %n
RemainAfterExit=false

[Install]
WantedBy=multi-user.target
