[Unit]
Description=Bind mount for /mnt
DefaultDependencies=no
After=-.mount var.mount
Before=local-fs.target

[Mount]
What=/var/mnt
Where=/mnt
Type=none
Options=bind

[Install]
WantedBy=multi-user.target