[Unit]
Description=Combine /var/opt and /opt
DefaultDependencies=no
After=var.mount ostree-remount.service prepare-opt-mount.service
BindsTo=var.mount ostree-remount.service

[Mount]
What=overlay
Where=/opt
Type=overlay
Options=lowerdir=/usr/opt,upperdir=/var/opt,workdir=/var/lib/opt-overlay/work

[Install]
WantedBy=multi-user.target