[Unit]
Description=Update Global Chezmoi Repository
RequiresMountsFor=/var
ConditionKernelCommandLine=!rd.live.image
Requires=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/update-cherries
RemainAfterExit=false
