[Unit]
Description=Refresh system/user font cache
After=var.mount
Requires=var.mount

[Service]
Type=oneshot
ExecStart=/usr/bin/fc-cache -rsfv
ExecStart=/usr/libexec/run-as-all-human-users "fc-cache -rfv"
ExecStartPost=/usr/bin/systemctl disable refresh-font-cache.service
RemainAfterExit=false

[Install]
WantedBy=multi-user.target