[Unit]
Description=Refresh system/user font cache
After=var.mount
Requires=var.mount

[Service]
Type=oneshot
ExecStart=/usr/bin/fc-cache -rsfv
ExecStart=/usr/bin/bash -c "for user in /var/home/*; do su -c "fc-cache -rfv" - $(basename $user)"
ExecStartPost=/usr/bin/systemctl disable refresh-font-cache.service
RemainAfterExit=false

[Install]
WantedBy=multi-user.target