[Unit]
Description=Bind mount for /root
DefaultDependencies=no
After=-.mount var.mount
Before=local-fs.target

[Mount]
What=/var/roothome
Where=/root
Type=none
Options=bind

[Install]
WantedBy=multi-user.target