[Unit]
Description=Subsystem Filesystem Management
RequiresMountsFor=/var
ConditionKernelCommandLine=!rd.live.image
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=notify
NotifyAccess=all
KillSignal=SIGTERM
KillMode=mixed
ExecStart=/usr/lib/subsystem/daemon/subsystem-filesystemd
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target