[Unit]
Description=Subsystem
After=systemd-logind.service var.mount
BindsTo=systemd-logind.service var.mount

[Service]
Type=oneshot
ExecStart=/usr/libexec/subsystem-mgr poweron
ExecStop=/usr/libexec/subsystem-mgr poweroff
RemainAfterExit=yes
Restart=on-failure

[Install]
WantedBy=multi-user.target default.target
