[Unit]
Description=Create subsystem store for new users
After=var.mount
Requires=var.mount

[Service]
Type=oneshot
ExecStart=/usr/libexec/subsystem-store-create
RemainAfterExit=false

[Install]
WantedBy=multi-user.target