[Unit]
Description=Mount subsystem disk image

[Mount]
What=/usr/lib/subsystem/subsystem.dsk
Where=/usr/lib/subsystem/rootfs
Type=erofs
Options=loop,ro,acl,user_xattr

[Install]
WantedBy=multi-user.target default.target