[Unit]
Description=Bind Mount For Cherries
ConditionPathExists=/etc/.cherries-are-picked
ConditionPathExists=/var/lib/cherries
ConditionKernelCommandLine=!rd.live.image
DefaultDependencies=no
After=local-fs.target
Before=multi-user.target

[Mount]
What=/var/lib/cherries
Where=/usr/share/tartaria/cherries
Type=none
Options=ro,bind

[Install]
WantedBy=multi-user.target