[Unit]
Description=Base subsystem rootfs
DefaultDependencies=no
Conflicts=umount.target
Before=local-fs.target umount.target
After=local-fs-pre.target

[Mount]
What=/usr/lib/subsystem/subsystem.dsk
Where=/usr/lib/subsystem/base
Type=squashfs
Options=ro,loop

[Install]
WantedBy=local-fs.target